script.
  var _vds = _vds || [];
  window._vds = _vds;
  (function(){
  _vds.push(['setAccountId', '8c80410b5bc2dd32']);
  (function() {
  var vds = document.createElement('script');
  vds.type='text/javascript';
  vds.async = true;
  vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(vds, s);
  })();
  })();
script.
  (function(){
  var bp = document.createElement('script');
  var curProtocol = window.location.protocol.split(':')[0];
  if (curProtocol === 'https') {
  bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
  }
  else {
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(bp, s);
  })();
