doctype html
html
  head
    title #{title} - Gimletech
  body
    header
      h1 Terms and Privacy
      h4 Last modified: December 31, 2015
    .container
      .main-content
        block content
    footer
      p Value - Terms and Privacy