body {
-webkit-font-smoothing: antialiased;
font-family: sans-serif;
margin: 0px;
}

#embed {
width: 100%;
height: 100%;
}

.global-footer .footer-section::after {
    content: "";
    clear: both
}

.global-footer .subscribe {
    float: left;
    display: block;
    width: 43.1701%;
    background-color: #2f4b6c;
    box-sizing: border-box;
    padding: 34px 38px 38px
}

.global-footer .subscribe:last-child {
    width: 39.56186%
}

.global-footer .subscribe .title {
    font-size: 22px;
    font-style: italic
}

.global-footer .subscribe p {
    margin-top: .8em;
    color: rgba(255, 255, 255, .7);
    line-height: 1.5
}

.global-footer .subscribe .form-content {
    margin-top: 20px
}

.global-footer .cwu-newsletter .form-content::after,
.global-footer .subscribe .form-content::after {
    clear: both;
    content: "";
    display: table
}

.global-footer .cwu-newsletter .form-content .col-one,
.global-footer .cwu-newsletter .form-content .col-two,
.global-footer .subscribe .form-content .col-one,
.global-footer .subscribe .form-content .col-two {
    float: left;
    box-sizing: border-box
}

.global-footer .cwu-newsletter .form-content .col-two,
.global-footer .subscribe .form-content .col-two {
    width: 60%
}

.global-footer .cwu-newsletter .form-content .col-one,
.global-footer .subscribe .form-content .col-one {
    width: 30%;
    padding-left: 13px
}

.global-footer .cwu-newsletter .form-content .form-group input,
.global-footer .subscribe .form-content .form-group input {
    width: 100%;
    font-size: 1em;
    padding: .75em 1em;
    border-radius: 1px;
    border: 0
}

.global-footer .cwu-newsletter .form-content .form-group input:focus,
.global-footer .subscribe .form-content .form-group input:focus {
    border: 0
}

.global-footer .cwu-newsletter .form-content .form-group input[type=email],
.global-footer .subscribe .form-content .form-group input[type=email] {
    color: #fff;
    background-color: #213752
}

.global-footer .cwu-newsletter .form-content .form-group::-webkit-input-placeholder,
.global-footer .subscribe .form-content .form-group::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5)
}

.global-footer .cwu-newsletter .form-content .form-group::-moz-placeholder,
.global-footer .subscribe .form-content .form-group::-moz-placeholder {
    color: rgba(255, 255, 255, .5)
}

.global-footer .cwu-newsletter .form-content .form-group:-ms-input-placeholder,
.global-footer .subscribe .form-content .form-group:-ms-input-placeholder {
    color: rgba(255, 255, 255, .5)
}

.global-footer .cwu-newsletter .form-content .form-group::placeholder,
.global-footer .subscribe .form-content .form-group::placeholder {
    color: rgba(255, 255, 255, .5)
}

.global-footer .cwu-newsletter .form-content .form-group .mck-alert-icon,
.global-footer .subscribe .form-content .form-group .mck-alert-icon {
    position: absolute;
    top: 10px;
    color: #ed1c24;
    right: 15px;
    font-size: 20px;
    display: none
}

.global-footer .cwu-newsletter .form-content .form-group.has-error input[type=email],
.global-footer .subscribe .form-content .form-group.has-error input[type=email] {
    background-color: #fff;
    color: #333;
    padding-right: 2.625em;
    border: 0
}

.global-footer .cwu-newsletter .form-content .form-group.has-error input[type=email]::-webkit-input-placeholder,
.global-footer .subscribe .form-content .form-group.has-error input[type=email]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

.global-footer .cwu-newsletter .form-content .form-group.has-error input[type=email]::-moz-placeholder,
.global-footer .subscribe .form-content .form-group.has-error input[type=email]::-moz-placeholder {
    color: rgba(0, 0, 0, .5)
}

.global-footer .cwu-newsletter .form-content .form-group.has-error input[type=email]:-ms-input-placeholder,
.global-footer .subscribe .form-content .form-group.has-error input[type=email]:-ms-input-placeholder {
    color: rgba(0, 0, 0, .5)
}

.global-footer .cwu-newsletter .form-content .form-group.has-error input[type=email]::placeholder,
.global-footer .subscribe .form-content .form-group.has-error input[type=email]::placeholder {
    color: rgba(0, 0, 0, .5)
}

.global-footer .cwu-newsletter .form-content .form-group.has-error .help-block,
.global-footer .subscribe .form-content .form-group.has-error .help-block {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0
}

.global-footer .cwu-newsletter .form-content .form-group.has-error .mck-alert-icon,
.global-footer .subscribe .form-content .form-group.has-error .mck-alert-icon {
    display: block
}

.global-footer .cwu-newsletter .form-content .btn-submit,
.global-footer .subscribe .form-content .btn-submit {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: none;
    min-width: 100%
}

.global-footer {
    color: #fff;
    clear: both
}

.global-footer .footer-main {
    background-color: #213752
}

.global-footer .footer-inner,
.global-footer .main-inner {
    margin: auto;
    max-width: 1230px
}

.global-footer .main-inner {
    background-color: #213752;
    overflow: hidden;
    padding: 60px 0
}

.global-footer .footer-inner {
    padding: 30px 0
}

.global-footer .footer-section {
    position: relative
}

.global-footer .footer-section::after {
    display: table
}

.global-footer .mck-logo-icon {
    font-size: 27px
}

.global-footer .main-section {
    margin-top: 40px;
    overflow: hidden
}

.global-footer .social-links,
.global-footer .utility-links {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: left;
    display: block;
    margin-right: 3.60825%;
    width: 22.29381%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

.global-footer .social-links:last-child,
.global-footer .utility-links:last-child {
    margin-right: 0
}

.global-footer .social-links li,
.global-footer .utility-links li {
    margin-top: .7em;
    line-height: 1.5
}

.global-footer .social-links li:first-child,
.global-footer .utility-links li:first-child {
    margin-top: 0
}

.global-footer .social-links a,
.global-footer .utility-links a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: color 120ms linear;
    font-weight: 400
}

.global-footer .social-links a:hover,
.global-footer .utility-links a:hover {
    color: rgba(255, 255, 255, .7)
}

.global-footer .social-links {
    margin-left: 8.63402%
}

.global-footer .social-links a:hover:before {
    color: #1D90C3
}

.global-footer .social-links a:before {
    color: #2bafe9;
    display: inline-block;
    font-size: 16px;
    padding-right: 16px;
    transition: color 120ms linear;
    position: relative;
    top: 1px
}

.global-footer .footer {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #1c2f46;
    font-size: 12px
}

.global-footer .app-links {
    float: left
}

.global-footer .app-links a+a {
    margin-left: 18px
}

.global-footer .app-description {
    float: left;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 30px;
    max-width: 380px;
    width: 32%
}

.global-footer .app-description strong {
    color: #fff
}

.global-footer .app-store,
.global-footer .google-play {
    display: inline-block
}

.global-footer .copyright {
    bottom: 1px;
    line-height: 1.4;
    position: absolute;
    right: 0;
    text-align: right;
    width: 24%
}

@media screen and (max-width:1440px) {
    .global-footer .footer-inner,
    .global-footer .main-inner {
        max-width: 1440px;
        padding-left: 7.36264%;
        padding-right: 7.36264%
    }
}

@media screen and (max-width:1180px) {
    .global-footer .cwu-newsletter .form-content .col-one,
    .global-footer .cwu-newsletter .form-content .col-two,
    .global-footer .subscribe .form-content .col-one,
    .global-footer .subscribe .form-content .col-two {
        width: 100%;
        float: inherit
    }
    .global-footer .cwu-newsletter .form-content .col-one,
    .global-footer .subscribe .form-content .col-one {
        margin-top: 12px;
        padding: 0
    }
    .global-footer .footer-inner,
    .global-footer .main-inner {
        padding-left: 7.36264%;
        padding-right: 7.36264%
    }
    .global-footer .app-description {
        font-size: 14px
    }
}

@media screen and (max-width:767px) {
    .global-footer .cwu-newsletter,
    .global-footer .subscribe {
        margin: 0 auto;
        width: 90%
    }
    .global-footer .cwu-newsletter .form-content .form-group input[type=email],
    .global-footer .subscribe .form-content .form-group input[type=email] {
        height: auto;
        padding: 1em
    }
    .global-footer .cwu-newsletter .form-content .form-group.has-error .help-block,
    .global-footer .subscribe .form-content .form-group.has-error .help-block {
        margin-top: 10px
    }
    .global-footer .cwu-newsletter .form-content .form-group.has-error .mck-alert-icon,
    .global-footer .subscribe .form-content .form-group.has-error .mck-alert-icon {
        top: 15px
    }
    .global-footer .cwu-newsletter .form-content .btn-submit,
    .global-footer .subscribe .form-content .btn-submit {
        padding: 1em
    }
    .global-footer .main-section {
        margin-top: 30px;
        overflow: visible
    }
    .global-footer .main-inner {
        padding: 40px 0
    }
    .global-footer .footer-inner,
    .global-footer .mck-logo-icon {
        padding-left: 5%;
        padding-right: 5%
    }
    .global-footer .mck-logo-icon {
        font-size: 29px
    }
    .global-footer .social-links,
    .global-footer .subscribe,
    .global-footer .utility-links {
        width: 100%;
        float: inherit
    }
    .global-footer .social-links,
    .global-footer .utility-links {
        margin-left: 0;
        margin-top: 40px;
        padding: 0 5%
    }
    .global-footer .social-links li,
    .global-footer .utility-links li {
        margin-top: 1em
    }
    .global-footer .utility-links {
        padding-top: 40px;
        position: relative;
        border-top: 1px solid #374e69
    }
    .global-footer .footer {
        font-size: 13px
    }
    .global-footer .footer-section {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .global-footer .app-description {
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        float: inherit;
        margin-left: 0
    }
    .ie9 .global-footer .app-description {
        margin-top: 20px
    }
    .global-footer .app-links {
        -ms-flex-order: 2;
        order: 2;
        margin-top: 20px
    }
    .ie9 .global-footer .app-links {
        margin-top: 0
    }
    .global-footer .app-links a+a {
        margin-left: 10px
    }
    .global-footer .google-play {
        -ms-flex-order: 3;
        order: 3
    }
    .global-footer .copyright {
        line-height: inherit;
        margin-top: 20px;
        -ms-flex-order: 3;
        order: 3;
        position: static;
        text-align: left;
        width: 100%
    }
}

.global-footer._fixed {
    position: relative;
    z-index: 1
}

@media print {
    @page {
        margin: .75in
    }
    .global-footer {
        display: none!important;
        height: 0;
        margin: 0
    }
}

.btn-submit {
	transition: background-color 120ms linear
}

.btn-submit {
    background-color: #2bafe9;
    color: #fff;
    cursor: pointer
}

.btn-submit {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    padding: .75em 1em
}

.btn-submit:hover {
    background-color: #008cc9
}

.form-content .one-up-medium .col-one {
    width: 48.19588%;
    margin-right: 2.86592%
}

.form-content .one-up-medium .col-two {
    width: 48.19588%
}

.form-content .section-header {
    text-transform: none;
    font-weight: 500
}

.-theme-marvin .form-content .section-header {
    text-transform: uppercase
}

.form-content hr {
    padding: 0;
    margin: 0;
    border: 0;
    background: #e2e2e2;
    height: 1px
}

.form-content .item.full {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px
}

.form-content .form-group {
    position: relative;
    clear: both
}

.form-content .form-group+.form-group {
    margin-top: 40px
}

.form-content .form-group label {
    font-family: 'Whitney SSm', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: .75em;
    text-transform: uppercase;
    color: #333
}

.-theme-marvin .form-content .form-group label {
    color: #00306e
}

.form-content .form-group .help-block {
    display: none;
    margin-top: 5px;
    margin-bottom: 10px
}

.form-content .form-group input[type=text],
.form-content .form-group input[type=password],
.form-content .form-group input[type=email],
.form-content .form-group select,
.form-content .form-group textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    color: #333;
    font-size: 1em;
    width: 100%;
    padding: .75em 1em;
    border-radius: 1px
}

.form-content .form-group input[type=text]:focus,
.form-content .form-group input[type=password]:focus,
.form-content .form-group input[type=email]:focus,
.form-content .form-group select:focus,
.form-content .form-group textarea:focus {
    outline: 0;
    border: 1px solid #2bafe9
}

.form-content .form-group select {
    height: 44px;
    padding-left: 12px;
    padding-right: 12px
}

.form-content .form-group .validation {
    position: absolute;
    right: -30px;
    top: 16px;
    line-height: 0;
    display: none
}

.form-content .form-group .validation.mck-check-icon {
    top: calc(16px + 26.75px);
    color: #70b51e;
    font-size: .8125em;
    display: block
}

.form-content .form-group .validation.mck-cross-icon {
    top: calc(17px + 26.25px);
    color: #ed1c24;
    font-size: .6875em;
    display: block
}

.form-content .form-group.has-error label {
    color: #ed1c24
}

.form-content .form-group.has-error input[type=text],
.form-content .form-group.has-error input[type=password],
.form-content .form-group.has-error input[type=email] {
    border: 1px solid #ed1c24
}

.form-content .form-group.has-error .help-block {
    display: block;
    font-size: .875em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ed1c24
}

.form-content .form-group.has-error .help-block a {
    color: #ed1c24;
    text-decoration: underline
}

.form-content .form-group.has-error .help-block+.help-block {
    display: none
}

.form-content .form-group.has-error .validation {
    color: #ed1c24;
    font-size: .6875em
}

.form-content .form-group.has-error .validation:before {
    font-family: mck-icons;
    content: "";
    font-style: normal;
    font-weight: 400
}

.form-content .form-wrapper.newsletter .caption h4,
.form-content .form-wrapper.newsletter .caption>div {
    font-family: "Chronicle SSm", Georgia, Times, "Times New Roman", serif
}

.form-content .form-wrapper {
    background-color: #f8fafb;
    padding: 12px 45px
}

.form-content .form-wrapper.newsletter .headline {
    font-size: 1em;
    margin-top: 10px
}

.form-content .form-wrapper.newsletter .caption {
    width: 80%;
    color: #333
}

.form-content .form-wrapper.newsletter .caption b,
.form-content .form-wrapper.newsletter .caption strong {
    font-weight: 400;
    display: block
}

.form-content .form-wrapper.newsletter .caption>div {
    color: #333;
    font-size: 1em;
    line-height: 1.375;
    margin-top: 0
}

.form-content .form-wrapper.newsletter .caption .description {
    font-family: "Chronicle Deck", Georgia, Times, "Times New Roman", serif
}

.form-content .form-wrapper.newsletter .break {
    display: none;
    padding: 10px 0
}

.form-content .form-wrapper.newsletter .item label {
    padding-top: 0
}

.form-content .checkbox,
.form-content .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.form-content .checkbox+.checkbox,
.form-content .checkbox+.radio,
.form-content .radio+.checkbox,
.form-content .radio+.radio {
    margin-top: 40px
}

.form-content .checkbox .form-group,
.form-content .radio .form-group {
    margin-top: 0;
    display: -ms-flexbox;
    display: flex
}

.form-content .checkbox .header,
.form-content .radio .header {
    font-family: 'Whitney SSm', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    color: #333;
    line-height: 1.69231;
    font-size: .8125em;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700
}

.form-content .checkbox>div.caption,
.form-content .radio>div.caption {
    padding-left: 33px;
    clear: both
}

.form-content .checkbox label,
.form-content .radio label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    display: block;
    margin-top: 5px;
    text-transform: none;
    font-family: "Chronicle SSm", Georgia, Times, "Times New Roman", serif
}

.form-content .checkbox.large input,
.form-content .radio.large input {
    vertical-align: top
}

.form-content .checkbox.large label,
.form-content .radio.large label {
    font-size: 1.25em
}

.form-content::-webkit-input-placeholder {
    color: #59779d
}

.form-content::-moz-placeholder {
    color: #59779d
}

.form-content:-ms-input-placeholder {
    color: #59779d
}

.form-content::placeholder {
    color: #59779d
}

.form-content .btn-submit {
    font-family: 'Whitney SSm', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    background-color: #2bafe9;
    font-size: .875em;
    min-width: 150px;
    min-height: 41px;
    font-weight: 700;
    color: #fff;
    border: 0;
    width: auto;
    cursor: pointer;
    transition: background-color 120ms linear;
    text-transform: uppercase;
    border-radius: 1px
}

.form-content .info-tooltip .tooltip,
.form-content .passwordTooltip,
.form-content .passwordTooltip p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.form-content .btn-submit:hover {
    background-color: #008cc9
}

.form-content .passwordTooltip {
    font-size: .875em;
    padding: 12px 15px;
    position: absolute;
    right: -305px;
    top: 26px;
    width: 250px;
    background-color: #efefef;
    display: none
}

.form-content .passwordTooltip:after {
    right: 100%;
    top: 15px;
    border: 5px solid rgba(255, 255, 255, 0);
    border-right-color: #efefef;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.form-content .passwordTooltip .strength {
    text-transform: capitalize
}

.form-content .passwordTooltip #passwordStrengthBar {
    background-color: #cfcfcf;
    height: 6px;
    margin: 10px 0;
    overflow: hidden
}

.form-content .passwordTooltip #passwordStrengthBar span {
    background: #ed1c24;
    display: block;
    height: 100%
}

.form-content .passwordTooltip #passwordStrengthBar.met span {
    background-color: #70b51e
}

.form-content .passwordTooltip #passwordStrengthBar.met+p {
    display: none
}

.form-content .passwordTooltip p {
    margin: 0 0 5px;
    line-height: 20px
}

.form-content .info-tooltip {
    border-radius: 20px;
    font-size: 1.25em;
    position: relative;
    text-align: center;
    top: 5px;
    width: 24px;
    height: 24px;
    background-color: #efefef;
    color: #333;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px
}

.form-content .info-tooltip .tooltip {
    font-size: 14px;
    padding: 12px 15px;
    background-color: #efefef;
    color: #333;
    position: absolute;
    z-index: 201;
    max-width: 300px;
    width: 290px;
    text-align: left;
    margin: 0;
    box-shadow: 0 0
}

.form-content .info-tooltip.right,
.form-content .info-tooltip.top {
    z-index: 9999
}

.form-content .info-tooltip:hover {
    color: #333;
    text-decoration: none
}

.form-content .info-tooltip:before {
    left: 2px;
    top: 2px;
    font-weight: 700;
    position: absolute
}

.form-content .info-tooltip.right .tooltip {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 35px
}

.form-content .info-tooltip.top .tooltip {
    top: 35px
}

.form-content .info-tooltip.top._right .tooltip {
    left: auto;
    right: -15px
}

.form-content .info-tooltip.top._left .tooltip {
    right: auto;
    left: -15px
}

.form-content .info-tooltip.right:after,
.form-content .info-tooltip.top:after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border: solid rgba(255, 255, 255, 0);
    border-width: 10px
}

.form-content .info-tooltip.right:after {
    top: 50%;
    border-right-color: #efefef;
    margin-top: -10px;
    right: -12px
}

.form-content .info-tooltip.top:after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
    top: 15px
}

.form-content .alert {
    clear: both;
    border: 1px solid transparent;
    margin-bottom: 32px;
    padding: 35px 50px
}

.form-content .alert span {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    display: block
}

.form-content .alert.error,
.form-content .alert.message {
    padding: 15px 0
}

.form-content .alert.error span:before {
    font-family: mck-icons;
    content: "";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    vertical-align: sub;
    padding-right: 10px
}

.form-content .alert.error p,
.form-content .alert.error span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ed1c24
}

.form-content .alert.error .description {
    color: #000;
    max-width: 100%
}

.form-content .alert.info {
    background-color: #f2f5fa
}

.form-content .alert.info p {
    max-width: 80%
}

.form-content .alert p {
    margin-top: 0;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual
}

.form-content .alert p~p {
    margin-top: 1em
}

@media screen and (max-width:1180px) {
    .form-content .accordion-wrapper,
    .form-content .accordion-wrapper .accordion-content {
        display: block
    }
    .form-content .form-wrapper {
        padding: 12px 45px;
        margin: 40px auto 0
    }
    .form-content .form-wrapper.newsletter .item input+label:before {
        display: block;
        margin-bottom: 5px;
        margin-left: 0;
        float: none
    }
    .form-content .form-wrapper.newsletter .item label {
        float: none;
        padding-left: 0;
        margin-left: 0
    }
    .form-content .form-wrapper.email-alerts input+label:before {
        margin-bottom: 5px;
        float: left
    }
    .form-content .form-wrapper .checkbox div.caption,
    .form-content .form-wrapper .radio div.caption {
        padding-left: 0;
        width: 100%
    }
    .form-content .accordion-wrapper .accordion-head {
        pointer-events: none
    }
    .form-content .one-up-medium .col-one,
    .form-content .one-up-medium .col-two,
    .form-content .one-up-medium .module-header {
        width: 82.73196%;
        float: inherit
    }
    .form-content .one-up-medium .col-one {
        margin-top: 12px;
        padding: 0
    }
    .form-content .passwordTooltip {
        display: none!important
    }
    .alert.info p {
        max-width: 100%
    }
}

@media screen and (max-width:767px) {
    .form-content .form-group .validation,
    .form-content .form-wrapper.email-alerts .item.break {
        display: none
    }
    .form-content .one-up-medium .col-one,
    .form-content .one-up-medium .col-two,
    .form-content .one-up-medium .module-header {
        width: 100%;
        float: inherit
    }
    .form-content .form-group input[type=email],
    .form-content .form-group input[type=text],
    .form-content .form-group input[type=password],
    .form-content .form-group select {
        padding: 1em
    }
    .form-content .form-group select {
        height: 52px
    }
    .form-content .btn-submit {
        width: 100%;
        padding: 1em;
        font-size: 1em
    }
    .form-content .form-wrapper {
        padding: 0
    }
    .form-content .form-wrapper .item {
        margin: 0 0 5px;
        padding: 0
    }
    .form-content .form-wrapper.email-alerts {
        background-color: rgba(255, 255, 255, 0)
    }
    .form-content .form-wrapper.email-alerts .grayNote {
        font-family: "Chronicle SSm", Georgia, Times, "Times New Roman", serif
    }
    .form-content .form-wrapper.email-alerts .item .select-all {
        margin: 20px 0
    }
    .form-content .form-wrapper.newsletter {
        padding: 35px
    }
    .form-content .form-wrapper.newsletter .block-list {
        padding: 15px 0
    }
    .form-content .form-wrapper.newsletter .item {
        border-bottom: #e2e2e2 solid 1px;
        padding-top: 25px;
        padding-bottom: 25px
    }
    .form-content .form-wrapper.newsletter .item:first-child {
        padding-top: 0
    }
    .form-content .form-wrapper.newsletter .item:last-child {
        border-bottom: 0;
        padding-bottom: 0
    }
    .form-content .form-wrapper.newsletter .item div.caption {
        padding-left: 35px;
        width: 100%;
        float: left;
        margin-top: -15px
    }
    .form-content .form-wrapper.newsletter .item label {
        padding-top: 0;
        margin-left: 35px
    }
    .form-content .form-wrapper.newsletter .item input+label:before {
        margin-bottom: 0;
        display: inline-block;
        margin-left: -35px;
        float: left
    }
    .form-content .accordion .accordion-wrapper {
        width: 100%;
        background-color: #f8fafb
    }
    .form-content .accordion .accordion-wrapper .accordion-head {
        padding: 26px 20px;
        position: relative;
        cursor: pointer;
        pointer-events: initial
    }
    .form-content .accordion .accordion-wrapper .accordion-head span {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 2.5em;
        color: #2bafe9
    }
    .form-content .accordion .accordion-wrapper .accordion-head span:before {
        font-family: mck-icons;
        content: "";
        font-style: normal;
        font-weight: 400
    }
    .form-content .accordion .accordion-wrapper .accordion-content {
        padding: 0 20px 20px;
        display: none
    }
    .form-content .accordion .accordion-wrapper.default .accordion-head span:before {
        font-family: mck-icons;
        content: "";
        font-style: normal;
        font-weight: 400
    }
    .form-content .accordion .accordion-wrapper.default .accordion-content {
        display: block
    }
    .form-content .checkbox,
    .form-content .radio {
        margin-top: 0;
        margin-bottom: 0
    }
    .form-content .checkbox+.checkbox,
    .form-content .checkbox+.radio,
    .form-content .radio+.checkbox,
    .form-content .radio+.radio {
        margin-top: 10px
    }
    .form-content .checkbox label,
    .form-content .radio label {
        float: none;
        margin-top: 0;
        padding-top: 5px
    }
    .form-content .checkbox .form-group,
    .form-content .radio .form-group {
        margin-bottom: 10px
    }
    .form-content .info-tooltip {
        top: 12px
    }
    .alert {
        padding: 15px 25px
    }
}

.form-content input[type=checkbox],
.form-content input[type=radio],
.scfForm input[type=checkbox],
.scfForm input[type=radio] {
    opacity: 0;
    position: absolute
}

.form-content input[type=checkbox],
.form-content input[type=checkbox]+label,
.form-content input[type=radio],
.form-content input[type=radio]+label,
.scfForm input[type=checkbox],
.scfForm input[type=checkbox]+label,
.scfForm input[type=radio],
.scfForm input[type=radio]+label {
    margin: 4px 4px 4px 0;
    cursor: pointer;
    line-height: 24px;
    color: #333;
    display: inline-block;
    width: auto
}

.form-content input[type=checkbox]:focus+label:before,
.form-content input[type=radio]:before,
.form-content input[type=radio]:focus+label:before,
.scfForm input[type=checkbox]:focus+label:before,
.scfForm input[type=radio]:before,
.scfForm input[type=radio]:focus+label:before {
    border-color: #2bafe9
}

.form-content input[type=checkbox]+label,
.form-content input[type=radio]+label,
.scfForm input[type=checkbox]+label,
.scfForm input[type=radio]+label {
    font-family: "Chronicle Deck", Georgia, Times, "Times New Roman", serif;
    position: relative;
    margin-left: 32px
}

.form-content input[type=checkbox]+label:before,
.form-content input[type=radio]+label:before,
.scfForm input[type=checkbox]+label:before,
.scfForm input[type=radio]+label:before {
    content: '';
    border: 1px solid #c1c1c1;
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 22px;
    height: 22px;
    text-align: center;
    margin-left: -32px
}

.form-content input[type=checkbox]:checked+label:before,
.scfForm input[type=checkbox]:checked+label:before {
    font-family: mck-icons;
    content: "";
    font-style: normal;
    font-weight: 400;
    color: #2bafe9;
    border-color: #2bafe9;
    padding: 0;
    line-height: .90909;
    font-size: 22px;
    text-indent: -1px
}

.form-content input[type=radio]+label:before,
.scfForm input[type=radio]+label:before {
    border-radius: 50%
}

.form-content input[type=radio]:checked+label:before,
.scfForm input[type=radio]:checked+label:before {
    background: #2bafe9;
    border-color: #2bafe9;
    box-shadow: inset 0 0 0 4px #fff
}

.visually-hidden {
    position: absolute!important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

.visibility-hidden {
    visibility: hidden
}

.copyright a {
	text-decoration: none;
}